.core_team_desc_main{
    margin-top: 10px;
    transition: transform 0.1s;
}
#jerry_addon_meet_the_team{
    width: 100%;
}
.core_main{
    padding-top: 80px;
    background-color: black;
    width:100vw;
    /* min-height: 100vh; */
    margin: 0;
    font-size: 20px;
    color: white;

    background-image: url("./Images/bg_1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.core_main_3{
    padding-bottom: 10vh;
    margin-bottom: 6vh;
}

.core_img{
    width:100%;
    height: auto;
    border-radius: 50%;
    border:0px solid rgb(235, 228, 228);
    margin-top: 20px;
}

.core_image_main_box{
    /* background-color: white; */
}


.core_heading{
    font-size: 80px;
    color: white;
    font-family: 'Bebas Neue';
}

.core_descr{
    font-size: 16px;
    font-family: 'Nunito';
    color: rgb(185, 185, 185);
    text-align: justify;
    line-height: 24px;
    max-width: 90%;
    margin-top: 10px;
}

.core_p_name{
    font-family: 'Nunito';
    font-size: 1.15rem;
    margin-top: 10px;
    font-weight: 600;
    color: rgb(218, 216, 216);
}

.core_desig{
    font-family: 'Nunito';
    font-size: 0.95rem;
    color: rgb(190, 36, 36);
    font-weight: 700;
}

.image_box_core{
    margin-bottom: 30px;
}

@media screen and (max-width:576px){
    .core_heading{
        font-size: 46px;
    }
    
    .core_p_name{
        font-size: 0.6rem;
    }
    .core_desig{
        font-size: 0.55rem;
    }

    .core_descr{
        font-size: 11px;
        line-height: 14.5px;
        margin-top: -9px;
    }

    .core_img{
        margin-top: 2px;
    }

    .core_image_main_box{
        margin-top: 6vh;
    }

    .core_main.core_main_2{
        padding-top: 4vh;
    }

    .core_team_desc_2{
        /* transform: translateY(3.5vh); */
    }

    .core_main.core_main_2.core_main_3{
        padding-bottom: 10vh;
        padding-top: 7vh;
    }

    .core_team_desc_main{
        transform: translateY(2vh);
    }
}

.image_box_core{
    transition: transform 0.5s ;
}

@media screen and (max-width:992px)
{
    
}



@media screen and (min-width:992px){
  
    .core_image_main_box{
        /* border-left: 4px solid rgb(73, 72, 72); */
        margin-top: 20px;
    }
    .image_box_core:hover{
        transform: translate(0px,-12px);
        transition: transform 0.45s ;
    }

    .core_team_desc_main .container{
        transform: translate(0,80px);
    }
   
    .core_team_desc_main .container.team_2{
        transform: translate(0,20vh);
    }

    .core_team_desc_main .container.team_3{
        transform: translate(0,10px);
    }
}