.je_section1{
    height: 100vh;
    width: 100vw;
    background-color: peachpuff;
}


.jee_card_wrapper{
    height: 500px;
    width: 100px;
    margin:20px;
    transition: all 0.4s ease;
    flex: 0 0 33.333333%;
}

.jee_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: yellow;
}


.je_s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.jee_card_wrapper:hover{
    width: 350px;
    /* height: 6
    00px; */
    /* height: 150%; */
}

.hiden_abs{
    position: absolute;
    top:100vh;
    left:50px;
    /* display: none; */
    height: 500px;
    width: 300px;
    /* transition: all 1s ease; */
    transition-property: top, left, height, width, transform, position, margin, padding; 
    transition-duration: 0.5s; 
    transition-timing-function: ease-out; 
    opacity: 0;
}
