.home_tech_1{
    background-image: url("./Images/tech_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.home_cult_1{
    background-image: url("./Images/cult_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.cult_tech_box{
    margin-top: 45px;
    padding-bottom: 18vh;
}

.event_head_home{
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.wrap_cult_tech{
    padding-top: 5.2vh;
}

.event_descr_home{
    height: 100%;
    font-family: "Orbitron";
    font-size: 3.9rem ;
    font-weight: 700;
    letter-spacing: 9px;

    color:rgb(155, 153, 153);
}
