.bg_container_wrap_home{
    background-image: url("./Images/bg_wk_red.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.je_home_section1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
    /* background-color: orange; */
}

.je_home_bkg_pic{
    object-fit: cover;
    /* opacity: 0.7; */
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;

}

.test11{
    overflow: hidden;
    transition: 0.1s all;
    pointer-events: none;
    position: absolute;
    top:15vh;
    left:13vw;
    /* background-color: aqua; */
    /* opacity: 0.5; */
    /* height:100; */
    /* width: 100; */

    transform-origin: center;

}

.je_home_logo{
    position: absolute;
    top:27vh;
    left: 10vw;
    height: 370px;
    object-fit: contain;
    z-index: 33;
}


.je_home_info{
    position: absolute;
    top:33vh;
    left:47vw;
    /* background-color: blue; */
    /* width: 50vw; */
    /* width: 100%; */
    height: 30vh;
    color:white;
    display: flex;
    flex-direction: column;
}

.je_home_line1{
    font-family: LinotteRegular;
    font-size: 84px;
    /* background-color: green; */
}

.je_home_line2{
    font-size: 32px;
    font-family: AgencyFB;
    align-self: flex-start;
    transform-origin: top left;
    transform: scale(1.5, 1);
    /* background-color: yellow; */
}


.je_home_button_sec{
    padding-top: 50px;
    width: 452px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.je_home_btn{
    padding: 10px 10px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
    border: 3px solid red;
    transition: 0.5s all;
}

.je_home_btn:hover{
    background-color: red;
    color: white;
}

.je_home_btn1{
    /* margin-right: 10px; */
    margin-left: 5px;
}
.je_home_btn2{
    margin-right: 5px;
    /* margin-left: 10px; */
}

.je_home_s1_btn1_hover{
    background-color: transparent;
    color: white;
}

.je_home_s1_btn1_hover{
    background-color: red;
    color:white;
}

/* .je_ok{
    color:green;
} */


.ayush_about
{
    height: 100vh;
    /* background-color: rgb(246, 246, 246); */

    /* background-color: rgb(5, 4, 4); */

    /* background-image: url("./Images/pattern_bg_2.jpg"); */
    background-size: cover;
}


.abt_left{
    margin-top: 5vh;
}

.ayush_all
{
    display: flex;
    justify-content:center;
}

.ayush_sponsor_item{
    margin-top: 40px;
}

.ayush_about_pic
{
    width: 40%;
    border-radius: 8px;
    padding-right: 100px;

}

#ayush_heading_about
{
    /* color: rgb(58, 58, 58); */
    color: rgb(195, 194, 194);
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
    font-family: "Roboto";
    font-weight: 600;
    transform: translate(-50px,40px);
    padding-left: 130px;
    padding-top: 10px;
    margin-top: 0px !important;

}

#ayush_content_about
{
    width: 80%;
    padding: 1.4vw 2.5vw 1vw 0.5vw;
    margin:0 4vw;
    /* color:rgb(65, 64, 64); */
    color: rgb(163, 157, 157);
    margin-top: 8vh;
    padding-bottom: 2.5vh;
    font-weight: 400;
    margin-bottom: 8vh;
    font-size: 15px;
    text-align: justify;
    align-self: center;
    font-family: "Nunito";
    box-shadow: 3px 3px rgb(152 9 9);
    background-color: rgb(0,0,0,0.2);
    /* background:rgb(255, 253, 252); */
    border-radius: 20px 0 0px 0;
    transform: translateX(2vw);
    z-index: 10;
}

.about_img_col{
    height: 100vh;
    width: 100%;
    background-image: url("./ayush2.png");
    background-size: cover;
    background-position: center;
}


#ayush_content_about:after{
    content:'';
    width:10%;
    height:3.5px;
    background:rgb(152 9 9);
    position:absolute;
    top:0px;
    right: -3px;
  }

  .tagline_home{
      font-size: 21px;
      padding-top: 2px;
      font-weight: 800;
  }
  
  /* #ayush_content_about:before{
    content:'';
    width:4px;
    height:92%;
    background:#FF2226;
    position:absolute;
    top:-15px;
    right: -15px;
  } */

.ayush_sponsors
{
    background: black;
    height: 93vh;
}
.ayush_sponsors_pic{
    width:40%;
    min-width: 350px;
    margin-top: 50px;
}

#ayush_heading_sponsor
{
    color: white;
    font-size: 80px;
    padding-left: 20px;
    padding-bottom: 10px;
    box-shadow: -3px 3px red;
}
#ayush_first
{
    padding-top: 50px;
}

.ayush_caption
{
    color: white;
    text-align: center;
}

.ayush_title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }

  .ayush_content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .ayush_content .ayush_content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .ayush_content:hover .ayush_content-overlay{
    opacity: 1;
  }

  .ayush_content-image{
    width: 100%;
    border-radius: 50%;
  }

  .ayush_content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .ayush_content:hover .ayush_content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .ayush_content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .ayush_content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .ayush_fade{
    top: 80%;
  }

.home_contact
{
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 14vh;
    /* background-color: black; */
}

#home_heading_contact
{
    color: rgb(243, 234, 234);
    font-size: 64px;
    font-family: "Roboto";
    text-align: left;
    padding-left: 8vw;

    letter-spacing: 2px;

}

.contact_box{
    padding:9vh 2vw;
}

.contact_box div{
    margin-bottom: 2vh;
}

.hm_img_box{
    /* box-shadow: 0px 4px 3px 2px rgb(31, 0, 0); */
}

.c_img_home{
    width: 100%;
    height: auto;
    transition: all 0.45s;
    border-radius: 50%;
}

.hm_cont_name, .hm_cont_detail,.hm_cont_desig{
    position: absolute;
    font-size: 26px;
    top:110px;
    font-family: "Bebas Neue";
    letter-spacing: 4px;
    width: 90%;
    text-align: center;
    color: rgb(192, 13, 13) ;
    left: 18px;
    z-index: 5;

    opacity:0;
    
    transition: all 0.45s;

    transform: translateY(100px);
}

.hm_cont_detail{
    top: 160px;
    color: rgb(206, 205, 205);
    font-size: 24px;
}

.hm_cont_desig{
    top:200px;
    font-size: 18px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(148, 148, 148);
}

.hm_img_box:hover .hm_cont_detail,.hm_img_box:hover .hm_cont_name,.hm_img_box:hover .hm_cont_desig{
    opacity: 1;
    transform: translateY(0px);
}

.hm_img_box:hover .c_img_home{
    opacity: 0.3;
}


.ayush_button {
    font-family: "Roboto";
    background-color: black;
    padding: 2.8px 16px;
    font-size: 17px;
    font-weight: 400;
    border:solid 2px rgb(192, 0, 0);
    color: rgb(192, 0, 0);
    /* border-radius: 8px; */
    transition: all 0.3s;

}

.core_hm_btn{
    transform: translateY(-25px);
}

.ayush_button:hover {

    cursor: pointer;
    color: white;
    background-color: rgb(152, 9, 9);
}

.ayush_button_div
{
    display: flex;
    justify-content: center;
}

.ayush_footer
{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000000;
}
.ayush_all_icons
{
    display: flex;
    justify-content: center;
}
.ayush_icons
{
    height: 60px;
    margin-left: 50px;
}



@media only screen and (max-width: 992px) {

    

    .ayush_about{
        background:url("./Images/pattern_evo_1.jpg");
        background-size: cover;
    }
    
    #ayush_heading_about
    {
        padding-left: 60px;
        font-size: 2.6rem;
        padding-right:0px ;
        transform: translate(-80px,30px);
    }

    #ayush_content_about{
        font-size: 14.5px;
        line-height: 24px;
        transform: translate(-40px,0);
    }

    .tagline_home{
        display: inline-block;
        margin-top: 20px;
    }

    .about_img_col{
        display: none;
    }

    .je_home_info{
        position: relative;
        top:60vh;
        left:0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .je_home_section1{
        height: 100vh;
        width: 100vw;
    }

    .test11{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        /*  */
    }

    .je_home_line2{
        align-self: center;
        transform-origin: center;
        transform: scale(1.5, 1);
    }

    .je_home_button_sec{
        padding-top: 20px;
    }
  }

@media only screen and (max-width: 768px){
    .ayush_about{
        background:url("./Images/pattern_evo_1.jpg");
        background-size: cover;
        height: 85vh;
    }
    
    #ayush_heading_about
    {
        padding-left: 60px;
        font-size: 2rem;
        padding-right:0px ;
        transform: translate(-60px,30px);
    }

    #ayush_content_about{
        font-size: 12px;
        line-height: 22px;
        transform: translate(-10px,0);
    }

    .tagline_home{
        font-size: 18px;
        margin-top: 8px;
     
    }
    
    .hm_cont_name, .hm_cont_detail,.hm_cont_desig{
        font-size: 18px;
        top:110px;
        left: 18px;
    }
    .hm_cont_detail{
        top: 140px;
    }
    .hm_cont_desig{
        top: 170px;
    }
    

}

@media only screen and (max-width: 600px) {
    .test11{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: scale(2);
        transform: translate(-50%,-50%);
    }
    .je_home_line1{
        font-size: 76px;
    }
    .je_home_line2{
        font-size: 28px;
    }
}

@media only screen and (max-width: 576px){
    .ayush_about{
        background:url("./Images/pattern_evo_3.jpg");
        background-size: cover;
        height: 95vh;
        overflow:hidden ;
    }
    
    #ayush_heading_about
    {
        padding-left: 60px;
        font-size: 2.6rem;
        line-height: 48px;
        color: rgb(184, 184, 184);
        padding-right:0px ;
        transform: translate(-30px,-50px);
        font-weight: 800;
    }

    #ayush_content_about{
        font-size: 15px;
        line-height: 23px;
        text-align: left;
        color: rgb(197, 194, 194);
        transform: translate(5px,-100px);
        padding-right: 15px;
        padding-top: 15px;
        /* box-shadow: 1px 1px rgb(152 9 9); */
        box-shadow: none;
        width: 90%;
    }

    #ayush_content_about:after{
        content:'';
        width:9%;
        height:1px;
        height: 0.1px;
        width: 0.1px;
        background:rgb(152 9 9);
        transform: translate(-2px,0.5px);
        display: none;
      }

    .tagline_home{
        font-size: 18px;
        margin-top: 2px;
        line-height: 22px;
        /* color: rgb(207, 205, 205) !important; */
        color: rgb(151, 19, 19) !important;
        text-align: center;
        text-transform: uppercase;
        transform: translateX(-10px);
        letter-spacing: 0.5px;
     
    }

    #home_heading_contact{
        font-size: 42px;
        transform: translate(1vw,-20px);
        margin-bottom:0px;
    }
    
    .hm_cont_name, .hm_cont_detail,.hm_cont_desig{
        font-size: 15px;
        top:50px;
        left: 18px;
        transform: translateY(20px);
    }
    .hm_cont_detail{
        top: 73px;
        font-size: 14px;
    }
    .hm_cont_desig{
        top: 96px;
        line-height: 16px;
    }

    .contact_box{
        padding-top: 2.4vw;
    }

    .ayush_button {
        padding: 2px 12px;
        font-size: 18px;
        font-weight: 400;
    }

    .test11 video{
        height:280px;
        transform: translateY(-1.3vh);
    }
    .je_home_line1{
        transform: translateY(-1.3vh);
    }



}

@media only screen and (max-width: 500px) {

    .je_home_line1{
        font-size: 63px;
    }

    .je_home_line2{
        font-size: 24px;
    }

    .je_home_button_sec{
        padding-top: 30px;
        width: 340px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: yellowgreen; */
    }
    .test11{
        /* background-color: red; */
    }
}






