/* width is auto just adjust the height always in the card both images or relative or its aprent calss */


.je_tech_section1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}

.je_tech_banger_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.je_tech_banger_title_contaier{
    position: absolute;
    /* background-color: green; */
    top:50%;
    left:50%;
    text-align: center;
    width: 90%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    transform: translate(-50%,-50%);
    font-family: "Rubik";
    text-align: center;
    font-size: 70px;
    color: white;
}
.je_tech_banger_title_contaier::first-letter{
    color: rgb(207, 12, 12);
}

.je_tech_list_container{
    position: relative;
    background-color: white;
}

.je_tech_section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:70px 50px;
    grid-gap: 50px;
    /* background-color: white;  */
    background-color: rgb(10, 10, 10);
    /* height: 100%;


    background-color:rgba(0,0,255,0.4);
    position: relative;

    /* height: fit-content; */
    /* height: 3vh; */
}

.je_tech_card_wrapper{
    background-color: green;
    position: absolute;
    top:0;
}


.je_tech_card_image_hidden{
    position: absolute;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    transition-property: top, left, height, width, transform, position, margin, padding; 
    transition-duration: 0.5s; 
    transition-timing-function: ease-out;
    object-fit: cover;
    height: 350px;
    z-index: 2;
    /* top:0; */
}



/* new */


.je_tech_list_container {
    width: 100%;
    /* padding:100px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:70px 50px;
    grid-gap: 50px;
    /* background-color: aqua; */

    

}


.je_tech_card{
    height: 350px;
    width: 100%;
    margin-bottom: 12vh;
    margin-top: 4vh;
    transition: all 1s ease;

    /* overflow: hidden; */
    /* background-color: yellow; */
}

.je_tech_card_image_container{
    height: 100%;
    width: 100%;
    border-radius: 20px;

    /* background-color: rgba(0,255,0,0.5); */
    /* position: relative; */
    overflow: hidden;    /* change this back  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.je_tech_card_image{
    position: absolute;
    object-fit: cover;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
}
.relative_class{
    position: relative;
    /* background-color: bisque; */
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,255,0,0.5); */
    /* position: relative; */
    overflow: hidden;    /* change this back  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.je_tech_card_title{
    /* background-color: green; */
    width: 100%;
    text-align: center;
    font-family: "Roboto";
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(190, 190, 190);
    padding:10px 0 15px 0;
    text-transform: capitalize;
}
.je_black_bg{
    background-color: black;
}
.je_tech_card_hover_description{
    /* background-color: yellowgreen; */
    z-index: 2;
    text-transform: capitalize;
    font-family: "Open Sans";
    font-size: 19px;
    /* height: 100%; */

    text-align: center;
    color:#25c06b;
    font-weight: 500;
    opacity: 0;
    transition: all 0.2s ease;
    width : 90%;
    overflow: hidden;
    height:90%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.je_tech_card_image_container:hover .je_tech_card_hover_description{
    opacity: 1;
}

.je_tech_card_image_container:hover{
    cursor: grab;
}

.je_tech_card_image_container:hover .je_tech_card_image{
    transform: scale(1.2);
    opacity: 0.2;
}

.je_tech_card_hover_date{
    font-size: 22px;
    font-weight: 600;
    font-family: "Rubik";
    margin-bottom: 20px;
    color:red;
}
/* 
.je_tech_card{
    transition: all 0.2s ease;
    position: relative;
}

.je_tech_card:hover {
        height: 550px;
        width: 50vw;
} */


.je_hidden_btn{
    /* display: none; */
}

.jerry_no_styles{
    text-decoration: none;
    color:inherit;
}


@media only screen and (max-width: 1000px) {

    .je_tech_section2{
        grid-template-columns: 1fr 1fr;
        padding:70px 50px;
        grid-gap: 50px;
    }
}
@media only screen and (max-width: 600px) {

    .je_tech_section2{
        grid-template-columns: 1fr ;
        padding:70px 50px;
        grid-gap: 80px;
    }
}

@media screen and (max-width:576px)
{
    .je_tech_banger_title_contaier{
        font-size: 46px;
    }
}