.je_cult_list_container {
    width: 100;
    /* padding:100px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:70px 50px;
    grid-gap: 50px;
    /* background-color: aqua; */
}


.je_cult_card{
    height: 350px;
    width: 100%;
    /* overflow: hidden; */
    /* background-color: yellow; */
}

.je_cult_card_image_container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;    /* change this back  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.je_cult_card_image{
    position: absolute;
    object-fit: cover;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
}


.je_cult_card_title{
    /* background-color: green; */
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding:10px 0 15px 0;
    text-transform: capitalize;
}

.je_cult_card_hover_description{
    /* background-color: yellowgreen; */
    z-index: 2;
    text-transform: capitalize;
    font-size: 20px;
    /* height: 100%; */

    text-align: center;
    color:white;
    opacity: 0;
    transition: all 0.2s ease;
}

.je_cult_card_image_container:hover .je_cult_card_hover_description{
    opacity: 1;
}

.je_cult_card_image_container:hover .je_cult_card_image{
    transform: scale(1.1);
}

.je_hidden_btn{
    /* display: none; */
}